.title {
    position: absolute;
    display: block;
    margin-left: 50%;
    color: red;
    text-align: center;
}

.text {
    position: absolute;
    display: block;
    margin-left: 7.5%;
    margin-top: 5%;
    color: red;
    text-align: center;
    font-size: 25px;
}

.small-image {
    width: 250px;
    height: auto;
}